body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 530px;
  background: #fff;
  margin: 16px auto;
  border: 1px solid white;
}

.title {
  background: #e3f4ff;
  margin: 15px;
  font-size: 25px;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  margin: 15px;
  font-size: 20px;
  padding: 20px;
}

.button-container {
  background: #e3f4ff;
  margin: 15px;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

.bigbutton {
  background: white;
  border: 1px solid #eee;
  padding: 12px;
  font-size: 18px;
  margin-left: 155px;
  width: 180px;
  display: block;
}